.custom-navlink {
  color: black;
}

.custom-navlink:hover {
  color: black;
}

.main-header-left,
.main-header-right,
.main-header {
  height: 77px;
}

.main-header-right {
  border-right: none;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-right: 2em;
  margin-left: 2em;
  /*border: 1px solid var(--theme-yellow);*/
  box-shadow: 0 15px 10px -15px rgba(245, 230, 83, 0.1);
}

.menu-btn-burger {
  width: 25px;
  height: 3px;
  background: var(--theme-yellow);
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--theme-yellow);
  transition: all .5s ease-in-out;
}
.menu-btn-burger::before {
  transform: translateY(-10px);
}
.menu-btn-burger::after {
  transform: translateY(10px);
}



.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li {
  padding: 5px 20px;
}

body.dark-only {
  padding-top: 4rem;
  color: var(--dark-txt);
  background-color: var(--bgr-dark) !important;
}

body.dark-only .page-wrapper.compact-wrapper .page-main-header {
  border-bottom: none;
}

body.dark-only .page-main-header {
  box-shadow: 0 15px 10px -15px #2a323d;
  -webkit-box-shadow: 0 15px 10px -15px #2a323d;
}

body.dark-only .page-wrapper.horizontal-wrapper .page-main-header .main-header-right, body.dark-only .compact-wrapper .page-main-header .main-header-right {
  background-color: var(--bgr-dark);
  box-shadow: 0 15px 10px -15px #2a323d;
}

body.dark-only .page-body {
  background-color: var(--bgr-dark) !important;
}

body.dark-only .card {
  border: none !important;
}

body.dark-only .card  {
  background-color: var(--bgr-dark);
}

body.dark-only .navs-icon li a {
  color: var(--dark-txt);
}

body.dark-only .navs-icon.default-according.style-1 li button {
  color: var(--dark-txt) !important;
}

body.dark-only .card-header {
  background-color: var(--bgr-dark);
}


body.dark-only .custom-navlink
 {
  color: var(--dark-txt);
}

body.onhover-dropdown:hover {
  color: var(--dark-txt);
}

body.dark-only .form-control-plaintext {
  color: var(--dark-txt);
}

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav {
  border: none;
}

body .page-main-header .main-header-right .nav-right .navmenu-dropdown ul li:hover {
  background-color: var(--theme-yellow-09);
}

body.dark-only .page-main-header .main-header-right .nav-right .navmenu-dropdown ul li:hover {
  background-color: var(--theme-yellow-09);
}

/*
body.dark-only .page-main-header .main-header-right .main-header-left {
  border-color: var(--theme-color-yellow);
}
*/
.main-header-left {
  width: 290px;
}

body.dark-only .page-main-header .main-header-right .main-header-left {
  border: none;
}

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .sidebar-user {
  border: none;
}


body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .sidebar-user {
  border: none;
}

body.dark-only .onhover-show-div {
  border-color: var(--theme-yellow-02);
  background-color: var(--bgr-dark) !important;
}

body.dark-only .page-wrapper.horizontal-wrapper .page-main-header .main-header-right .nav-right > ul > li .onhover-show-div, body.dark-only .compact-wrapper .page-main-header .main-header-right .nav-right > ul > li .onhover-show-div {
  background-color: #1a1d1e;
  box-shadow: 0 0 2px 2px #1a1d1e;
}

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li span {
    color: var(--dark-txt);

}

/*
body.dark-only .page-main-header .main-header-right .nav-right .navmenu-dropdown ul li:hover {
  background-color: var(--theme-color-yellow-dark) !important;
}
*/

.page-main-header .main-header-right .nav-right.right-menu ul {
  justify-content: flex-end;
}

body.dark-only .header-button .btn-link a {
  color: #fff !important;
  text-decoration: none;
}


/* OFFCANVAS */
body.dark-only .sidenav {
    background-color: var(--bgr-dark);
    color: var(--dark-txt);
}

body.dark-only .border {
  border: 1px solid var(--theme-yellow-01) !important;
}

.sidenav {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 15;
 top: 0;
 left: 0;
 overflow-x: hidden;
 transition: 0.5s;
}

.logo_cubica_sidenav {
  width: 200px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

.btn-sidenav {
  padding: 0.75em;
}

.sidenav .menu-btn-burger::before,
.sidenav .menu-btn-burger::after {}
.sidenav .menu-btn-burger {
  display: none;
}

/* end of OFFCANVAS */

.nav-toggle {
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: right;
  padding: 1em 1em;

}

.main-nav {
  padding-top: 1.25rem;
}

.customizer-links {
  display: none;
}

.custom-navlink {
  display: inline-block;
}

.custom-navlink:hover {
  cursor: pointer;
}


body.dark-only .page-main-header .main-header-right .nav-right.right-menu ul li:nth-child(2) {
  border-left: 1px solid var(--theme-yellow-01);
  border-right: 1px solid var(--theme-yellow-01);
}

.page-main-header .main-header-right .nav-right.right-menu ul li:hover {
  background-color: var(--theme-yellow-08);
}


.intro {
  text-align: center;
}

.login-icon {
  width: 20px;
  height: 20px;
}

.onhover-show-div {
  border-color: var(--theme-yellow-08);
}

/*video*/
.embed-responsive{
  position: relative;
  padding-top: 56.25%;
}

.youtube{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

}


/*DROPDOWN FOR BURGER_MENU */

.page-main-header .navmenu-dropdown {
  width: 300px;
  top: 65px;
  left: -250px;
  right: 0;
  border-radius: 8px;
  padding: 15px;
}
  .page-main-header .navmenu-dropdown::before, .page-main-header .navmenu-dropdown::after {
    display: none; }
  .page-main-header .navmenu-dropdown .form-group .input-group .input-group-prepend .input-group-text {
    background-color: transparent;
    height: 100%; }
  .page-main-header .navmenu-dropdown .form-group .input-group .form-control {
    border-left: none;
    font-size: 13px; }
    .page-main-header .navmenu-dropdown .form-group .input-group .form-control::-moz-placeholder {
      color: #cccccc;
      font-size: 13px; }
    .page-main-header .navmenu-dropdown .form-group .input-group .form-control:-ms-input-placeholder {
      color: #cccccc;
      font-size: 13px; }
    .page-main-header .navmenu-dropdown .form-group .input-group .form-control::placeholder {
      color: #cccccc;
      font-size: 13px; }
  .page-main-header .navmenu-dropdown ul li {
    padding: 10px; }
    .page-main-header .navmenu-dropdown ul li:hover {
      background-color: var(--theme-yellow);
     font-weight: bold; }
      .page-main-header .navmenu-dropdown ul li:hover .bookmark-icon {
        color: var(--theme-yellow); }
    .page-main-header .navmenu-dropdown ul li .bookmark-icon {
      margin-right: 15px;
      vertical-align: bottom; }
    .page-main-header.navmenu-dropdown ul li.add-to-bookmark {
      font-weight: 500;
      transition: all 0.5s ease; }
      .page-main-header .navmenu-dropdown ul li.add-to-bookmark .pull-right svg {
        color: #fa9f44;
        transition: all 0.5s ease; }
      .page-main-header .navmenu-dropdown ul li.add-to-bookmark:hover {
        color: var(--theme-yellow); }
        .page-main-header .navmenu-dropdown ul li.add-to-bookmark:hover .bookmark-icon {
          stroke: var(--theme-yellow); }
        .page-main-header .navmenu-dropdown ul li.add-to-bookmark:hover .pull-right svg {
          color: #fa9f44;
          fill: #fa9f44; }


@media (min-width: 300px) and (max-width: 750px){
  /*menu-btn*/
}


@media (min-width: 300px) and (max-width: 350px){

  body {
    padding-top: 2rem;
  }

  .logo_cubica {
    width: 150px;
    height: 75px;
  }
}

@media (min-width: 351px) and (max-width: 600px){

  body {
    padding-top: 2rem;
  }

  .logo_cubica {
    width: 200px;
  }

}

@media (min-width: 1200px) {navmenu-dropdown
.page-main-header .main-header-right .nav-right > ul {
  padding: 15px 15px;
}
}

