@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
}

.logo-dashbord-container {
  width: 150px;
  height: 75px;
  display: flex;
  margin: 0 auto;
}
