.page-body {
  margin-top: 30px !important;
}


.custom-navlink {
  color: black;
}

.custom-navlink:hover {
  color: black;
}

.main-header-left,
.main-header-right,
.main-header {
  height: 77px;
}

.main-header-right {
  border-right: none;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-right: 2em;
  margin-left: 2em;
  /*border: 1px solid var(--theme-yellow);*/
  box-shadow: 0 15px 10px -15px rgba(245, 230, 83, 0.1);
}

.menu-btn-burger {
  width: 25px;
  height: 3px;
  background: var(--theme-yellow);
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--theme-yellow);
  transition: all .5s ease-in-out;
}
.menu-btn-burger::before {
  transform: translateY(-10px);
}
.menu-btn-burger::after {
  transform: translateY(10px);
}


.menu-btn-onhover-show-div {
  display: flex;
  flex-direction: column;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li {
  padding: 5px 20px;
}

body.dark-only {
  padding-top: 4rem;
  color: var(--dark-txt);
  background-color: var(--bgr-dark) !important;
}

body.dark-only .page-wrapper.compact-wrapper .page-main-header {
  border-bottom: none;
}

body.dark-only .page-wrapper.horizontal-wrapper .page-main-header ,
body.dark-only .compact-wrapper .page-main-header  {
box-shadow: 0 15px 10px -18px #2a323d;
}
/*
body.dark-only .page-main-header {
  box-shadow: 0 15px 10px -15px #2a323d;
  -webkit-box-shadow: 0 15px 10px -15px #2a323d;
} */

/*
body.dark-only .page-wrapper.horizontal-wrapper .page-main-header,
body.dark-only .compact-wrapper .page-main-header {
  background-color: var(--bgr-dark);
  -webkit-box-shadow: 0 15px 10px -15px #2a323d;
  box-shadow: 0px 15px 10px -15px #2a323d;
}
*/

body.dark-only .page-body {
  background-color: var(--bgr-dark) !important;
}

body.dark-only .card {
  border: none !important;
}

body.dark-only .card  {
  background-color: var(--bgr-dark);
}

body.dark-only .navs-icon li a {
  color: var(--dark-txt);
}

body.dark-only .navs-icon.default-according.style-1 li button {
  color: var(--dark-txt) !important;
}

body.dark-only .card-header {
  background-color: var(--bgr-dark);
}


body.dark-only .custom-navlink
 {
  color: var(--dark-txt);
}

body.onhover-dropdown:hover {
  color: var(--dark-txt);
}

body.dark-only .form-control-plaintext {
  color: var(--dark-txt);
}

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav {
  border: none;
}

body .page-main-header .main-header-right .nav-right .navmenu-dropdown ul li:hover {
  background-color: var(--theme-yellow-09);
}

body.dark-only .page-main-header .main-header-right .nav-right .navmenu-dropdown ul li:hover {
  background-color: var(--theme-yellow-09);
}

/*
body.dark-only .page-main-header .main-header-right .main-header-left {
  border-color: var(--theme-color-yellow);
}
*/
.main-header-left {
  width: 290px;
}

body.dark-only .page-main-header .main-header-right .main-header-left {
  border: none;
}

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .sidebar-user {
  border: none;
}


body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .sidebar-user {
  border: none;
}

body.dark-only .onhover-show-div {
  border-color: var(--theme-yellow-02);
  background-color: var(--bgr-dark) !important;
}

/*
body.dark-only .page-wrapper.horizontal-wrapper .page-main-header .main-header-right .nav-right > ul > li .onhover-show-div, body.dark-only .compact-wrapper .page-main-header .main-header-right .nav-right > ul > li .onhover-show-div {
  background-color: #1a1d1e;
  -webkit-box-shadow: 0 0 2px 2px #1a1d1e;
  box-shadow: 0 0 2px 2px #1a1d1e;
} */

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li span {
    color: var(--dark-txt);

}

/*
body.dark-only .page-main-header .main-header-right .nav-right .navmenu-dropdown ul li:hover {
  background-color: var(--theme-color-yellow-dark) !important;
}
*/

.page-main-header .main-header-right .nav-right.right-menu ul {
  justify-content: flex-end;
}



/*header*/
.page-main-header .main-header-right .nav-right.right-menu ul li:hover {
  background-color: var(--bgr-dark) !important;
}

/*header round buttons*/
.round-button {
  border-radius: 100%;
  padding: 10px;
  border: none;
  width: 41px;
  height: 41px;
}

li.round-btn-link {
  border:none !important;
}

body.dark-only .header-button .btn-link a {
  color: #fff !important;
  text-decoration: none;
}

.page-main-header .main-header-right .nav-right.right-menu ul li.round-btn-link:hover {
  background-color: inherit;
}

body.dark-only .page-wrapper.horizontal-wrapper .page-main-header .main-header-right .nav-right > ul > li svg,
body.dark-only .compact-wrapper .page-main-header .main-header-right .nav-right > ul > li svg:hover {
  stroke: var(--theme-yellow) !important;
}

/*end of header round buttons*/

/* OFFCANVAS */
body.dark-only .sidenav {
    background-color: var(--bgr-dark);
    color: var(--dark-txt);
}

body.dark-only .border {
  border: 1px solid var(--theme-yellow-01) !important;
}

.sidenav {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 15;
 top: 0;
 left: 0;
 overflow-x: hidden;
 transition: 0.5s;
 background-color: rgba(0, 0, 0, 0.9) !important;
 /*background-color: rgba(25, 28, 30, 0.9) !important;*/
 /*background-color: var(--theme-yellow-01) !important;*/
}

.sidenav-menuholder {
  width:60%;
}

.logo_cubica_sidenav {
  width: 200px;
}


.sidenav .closebtn {
 position: absolute;
 top: -20px;
 right: 25px;
 font-size: 70px;
 margin-left: 50px;
}

.sidenav .sidemenu-open .menu-btn {
  display: none;
}


.menu-btn {

}
.btn-sidenav {
  padding: 0.75em;
}

/* end of OFFCANVAS */

/*Search bar*/


/*constructor menu*/

.constructor-menu {
  display: none;
}

.constructor-menu.open  {
  padding: 2em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 300px;
}


/*Filter*/
.filter .filter-label {
  padding: 8px 25px;
  padding-left: 25px;
  font-size: 13px;
  color: var(--dark-txt);
  display: block;
  position: relative;
  letter-spacing: 0.07em;
  font-weight: normal;
}

.filter .filter-checkbox {
  margin-left: -0.5em;
  margin-top: 0.75em;
}

.filter .filter-label:hover {
  font-weight: bold;
}

/*
.form-check-input:checked {
  background-color: var(--theme-yellow-09);
  border-color: var(--theme-yellow-01);
}

.form-check-input:focus {
  border-color: var(--theme-yellow-09);
  outline: 0;
  box-shadow: 0 0 0 .25rem var(--theme-yellow-03);
*/

.form-check-input:checked {
  background-color: var(--theme-yellow-09);
  border-color: var(--theme-yellow-01);
}

.form-check-input:focus {
  border-color: var(--theme-yellow-09);
  outline: 0;
  box-shadow: none;
}

.nav-toggle {
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: right;
  padding: 1em 1em;

}

.main-nav {
  padding-top: 1.25rem;
}

.customizer-links {
  display: none;
}

.custom-navlink {
  display: inline-block;
}

.custom-navlink:hover {
  cursor: pointer;
}

/*
body.dark-only .page-main-header .main-header-right .nav-right.right-menu ul li:nth-child(2) {
  border-left: 1px solid var(--theme-yellow-01);
  border-right: 1px solid var(--theme-yellow-01);
}
*/

.page-main-header .main-header-right .nav-right.right-menu ul li:hover {
  background-color: var(--theme-yellow-08);
}


.intro {
  text-align: center;
}

.login-icon {
  width: 20px;
  height: 20px;
}
.sidenav .closebtn {
 position: absolute;
 top: -20px;
 right: 25px;
 font-size: 70px;
 margin-left: 50px;
}
.onhover-show-div {
  border-color: var(--theme-yellow-08);
}

/*video*/
.embed-responsive{
  position: relative;
  padding-top: 56.25%;
}

.youtube{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

}

.sidenav .closebtn {
 position: absolute;
 top: -20px;
 right: 25px;
 font-size: 70px;
 margin-left: 50px;
}
/*DROPDOWN FOR BURGER_MENU */
.page-main-header .navmenu-dropdown {
  width: 300px;
  top: 65px;
  left: -250px;
  right: 0;
  border-radius: 8px;
  padding: 15px;
}
  .page-main-header .navmenu-dropdown::before, .page-main-header .navmenu-dropdown::after {
    display: none; }
  .page-main-header .navmenu-dropdown .form-group .input-group .input-group-prepend .input-group-text {
    background-color: transparent;
    height: 100%; }
  .page-main-header .navmenu-dropdown .form-group .input-group .form-control {
    border-left: none;
    font-size: 13px; }
    .page-main-header .navmenu-dropdown .form-group .input-group .form-control::-moz-placeholder {
      color: #cccccc;
      font-size: 13px; }
    .page-main-header .navmenu-dropdown .form-group .input-group .form-control:-ms-input-placeholder {
      color: #cccccc;
      font-size: 13px; }
    .page-main-header .navmenu-dropdown .form-group .input-group .form-control::placeholder {
      color: #cccccc;
      font-size: 13px; }
  .page-main-header .navmenu-dropdown ul li {
    padding: 10px;
    width: 100%;}
    .page-main-header .navmenu-dropdown ul li:hover {
      background-color: var(--theme-yellow);
     font-weight: bold; }
      .page-main-header .navmenu-dropdown ul li:hover .bookmark-icon {
        color: var(--theme-yellow); }
    .page-main-header .navmenu-dropdown ul li .bookmark-icon {
      margin-right: 15px;
      vertical-align: bottom; }
    .page-main-header.navmenu-dropdown ul li.add-to-bookmark {
      font-weight: 500;
      transition: all 0.5s ease; }
      .page-main-header .navmenu-dropdown ul li.add-to-bookmark .pull-right svg {
        color: #fa9f44;
        transition: all 0.5s ease; }
      .page-main-header .navmenu-dropdown ul li.add-to-bookmark:hover {
        color: var(--theme-yellow); }
        .page-main-header .navmenu-dropdown ul li.add-to-bookmark:hover .bookmark-icon {
          stroke: var(--theme-yellow); }
        .page-main-header .navmenu-dropdown ul li.add-to-bookmark:hover .pull-right svg {
          color: #fa9f44;
          fill: #fa9f44; }


@media (min-width: 300px) and (max-width: 750px){
  /*menu-btn*/
}


@media (min-width: 300px) and (max-width: 350px){

  body {
    padding-top: 2rem;
  }

  .logo_cubica {
    width: 150px;
    height: 75px;
  }
}

@media (min-width: 351px) and (max-width: 600px){
.sidenav .closebtn {
 position: absolute;
 top: -20px;
 right: 25px;
 font-size: 70px;
 margin-left: 50px;
}
  body {
    padding-top: 2rem;
  }

  .logo_cubica {
    width: 200px;
  }

}

@media ()

@media (min-width: 1200px) {
.page-main-header .main-header-right .nav-right > ul {
  padding: 15px 15px;
}
}
