.custom-navlink {
  color: black;
}

.custom-navlink:hover {
  color: black;
}

.main-header-left,
.main-header-right,
.main-header {
  height: 77px;
}


.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li {
  padding: 5px 20px;
}

body.dark-only {
  padding-top: 4rem;
  color: var(--dark-txt);
  background-color: var(--bgr-dark) !important;
}

body.dark-only .page-body {
  background-color: var(--bgr-dark) !important;
}

body.dark-only .card {
  border: none !important;
}


body.dark-only .custom-navlink {
  color: var(--dark-txt);
}

body.onhover-dropdown:hover {
  color: var(--dark-txt);
}

body.dark-only .form-control-plaintext {
  color: var(--dark-txt);
}

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav {
  border: none;
}

body .page-main-header .main-header-right .nav-right .bookmark-dropdown ul li:hover {
  background-color: var(--theme-yellow-09);
}

body.dark-only .page-main-header .main-header-right .nav-right .bookmark-dropdown ul li:hover {
  background-color: var(--theme-yellow-09);
}

/*
body.dark-only .page-main-header .main-header-right .main-header-left {
  border-color: var(--theme-color-yellow);
}
*/
.main-header-left {
  width: 290px;
}

body.dark-only .page-main-header .main-header-right .main-header-left {
  border: none;
}

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .sidebar-user {
  border: none;
}


/* ПеРЕКРАСИТЬ В СЕРЫЙ*/
body.dark-only .page-wrapper.horizontal-wrapper .page-main-header .main-header-right, body.dark-only .compact-wrapper .page-main-header .main-header-right {
  box-shadow: 0 0 3px 3px rgba(245, 230, 83, 0.1);
}

.compact-wrapper .page-main-header .main-header-right

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .sidebar-user {
  border: none;
}

body.dark-only .onhover-show-div {
  border-color: var(--theme-yellow-02);
  background-color: var(--bgr-dark) !important;
}

body.dark-only .page-wrapper.horizontal-wrapper .page-main-header .main-header-right .nav-right > ul > li .onhover-show-div, body.dark-only .compact-wrapper .page-main-header .main-header-right .nav-right > ul > li .onhover-show-div {
  background-color: #1a1d1e;
  -webkit-box-shadow: 0 0 2px 2px #1a1d1e;
  box-shadow: 0 0 2px 2px #1a1d1e;
}

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li span {
    color: var(--dark-txt);

}

/*
body.dark-only .page-main-header .main-header-right .nav-right .bookmark-dropdown ul li:hover {
  background-color: var(--theme-color-yellow-dark) !important;
}
*/

.page-main-header .main-header-right .nav-right.right-menu ul {
  justify-content: flex-start;
}

body.dark-only .header-button .btn-link a {
  color: #fff !important;
  text-decoration: none;
}


/* OFFCANAVS меню */
body.dark-only .sidenav * {
    background-color: #111727 !important;
    color: var(--dark-txt);
}


.sidenav {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 15;
 top: 0;
 left: 0;
 overflow-x: hidden;
 transition: 0.5s;
}

.logo_cubica_sidenav {
  width: 200px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

.btn-sidenav {
  padding: 0.75em;
}

/* end of OFFCANVAS */


.nav-toggle {
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: right;
  padding: 1em 1em;

}

@media (min-width: 998px){
  .toggle-sidebar {
    display: none;
  }
}




.main-nav {
  padding-top: 1.25rem;
}



.customizer-links {
  display: none;
}

.custom-navlink {
  display: inline-block;
}

.custom-navlink:hover {
  cursor: pointer;
}


body.dark-only .page-main-header .main-header-right .nav-right.right-menu ul li:nth-child(2) {
  border-left: 1px solid var(--theme-yellow-01);
  border-right: 1px solid var(--theme-yellow-01);
}

.page-main-header .main-header-right .nav-right.right-menu ul li:hover {
  background-color: var(--theme-yellow-08);
}


.intro {
  text-align: center;
}

.login-icon {
  width: 20px;
  height: 20px;
}

.onhover-show-div {
  border-color: var(--theme-yellow-08);
}

/*video*/
.embed-responsive{
  position: relative;
  padding-top: 56.25%;
}

.youtube{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

}


@media (min-width: 300px) and (max-width: 350px){

  body {
    padding-top: 2rem;
  }

  .logo_cubica {
    width: 150px;
    height: 75px;
  }
}

@media (min-width: 351px) and (max-width: 600px){

  body {
    padding-top: 2rem;
  }

  .logo_cubica {
    width: 200px;
  }

}

@media (min-width: 1200px) {
.page-main-header .main-header-right .nav-right > ul {
  padding: 15px 15px;
}
}
